<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Book Price Category Prediction</title>
  </head>
  <body>
    <div>
      <h1>Book Price Category Prediction</h1>
      <form action="/predict" method="post">
        <div>
          <label for="model">Choose Model:</label>
          <select name="model" required>
            <option value="one_vs_all">One-vs-All Logistic Regression</option>
            <option value="multinomial">Multinomial Logistic Regression</option>
          </select>
        </div>
        <div>
          <label for="author">Author:</label>
          <select name="author" required>
            {% for author in unique_values['author'] %}
              <option value="{{ author }}">{{ author }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="category">Category:</label>
          <select name="category" required>
            {% for category in unique_values['category'] %}
              <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="publisher">Publisher:</label>
          <select name="publisher" required>
            {% for publisher in unique_values['publisher'] %}
              <option value="{{ publisher }}">{{ publisher }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="cover">Cover:</label>
          <select name="cover" required>
            {% for cover in unique_values['cover'] %}
              <option value="{{ cover }}">{{ cover }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="format">Format:</label>
          <select name="format" required>
            {% for format in unique_values['format'] %}
              <option value="{{ format }}">{{ format }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="year">Year:</label>
          <input type="number" name="year" required>
        </div>
        <div>
          <label for="pages">Pages:</label>
          <input type="number" name="pages" required>
        </div>
        <div>
          <button type="submit">Predict Category</button>
        </div>
      </form>
      {% if prediction_text %}
        <h2>{{ prediction_text }}</h2>
      {% endif %}
      {% if error_message %}
        <h2>{{ error_message }}</h2>
      {% endif %}
    </div>
  </body>
</html>
